body {
    background: rgb(35, 37, 39);
    margin: 0;
    font-family: "Avenir", Arial, Helvetica, sans-serif;
}

h1 {
    background: steelblue;
    color: white;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
}

p {
    color: white;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.square {
    background: palevioletred;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

.stripe {
    background-color: snow;
    text-align: center;
    height: 36px;
}

.selected {
    background: steelblue;
    color: snow;
}

.colorDisplay {
    font-size: 4rem;
}

.messageDisplay {
    display: inline-block;
    background: tomato;
    width: 20%;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-size: inherit;
    font-weight: 700;
    color: rgb(35, 37, 39);
    letter-spacing: 1px;
}

button:focus {
    outline: none;
}